<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.6" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Rafy.Accounts" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.Domain" version="3.57.3302" targetFramework="net45" />
  <package id="Rafy.RBAC.DataPermissionManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.RBAC.GroupManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.RBAC.RoleManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.RBAC.UserRoleManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.SerialNumber" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.Web" version="3.54.3300" targetFramework="net45" />
</packages>