<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy" />
  </configSections>
  <appSettings>
    <!--如果是监听应用程序所有的 SQL 语句，请打开以下配置-->
    <add key="Rafy.FileLogger.SqlTraceFileName" value="D:\SQLTraceLog.txt" />
    <add key="AutoUpdateDb" value="True" />
    <!--UI窗体插件目录-->
    <add key="PluginsPath" value="\plugins\" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RafyConsoleApp" connectionString="server=localhost;database=PTRACKER;uid=sa;pwd=123" providerName="System.Data.SqlClient" />-->
    <add name="SysDomain" connectionString="Data Source=.;Initial Catalog=RafyApp;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <!--<add name="RafyPlugins" connectionString="Data Source=.;Initial Catalog=RafyApp;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="DbSettingNames" connectionString="Data Source=.;Initial Catalog=RafyApp;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <rafy currentCulture="zh-CN" collectDevLanguages="IsDebugging" dataPortalProxy="Rafy.Domain.DataPortal.WCF.ClientProxy, Rafy">
    <domainPlugins>
      <!--<add plugin="Rafy.Customization"/>
      <add plugin="Rafy.DiskCaching"/>
      <add plugin="Rafy.MultiLanguages"/>
      <add plugin="Rafy.RBAC.Old"/>
      <add plugin="JXC"/>-->
    </domainPlugins>
    <uiPlugins>
      <!--<add plugin="Rafy.Customization.Web"/>
      <add plugin="Rafy.MultiLanguages.Web"/>
      <add plugin="Rafy.DevTools.Web"/>
      <add plugin="Rafy.RBAC.Old.Web"/>
      <add plugin="JXC.Web"/>
      <add plugin="Demo"/>-->
    </uiPlugins>
   
  </rafy>
  <system.serviceModel>
    <client>
      <!--<endpoint name="ClientProxyEndPoint" address="http://localhost:17027/RafyServer.svc/Binary" 
                binding="customBinding" bindingConfiguration="compactBindingConfig" 
                behaviorConfiguration="enableRemotingBinarySerialization" 
                contract="Rafy.Domain.DataPortal.WCF.IWcfPortal"/>-->
      <endpoint name="ClientProxyEndPoint" address="http://localhost:17027/RafyServer.svc/Text" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Rafy.Domain.DataPortal.WCF.IWcfPortal" />
      <!--<endpoint name="ClientProxyEndPoint" address="http://localhost:17027/RafyServer.svc/Text"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
                contract="Rafy.DataPortal.WCF.IWcfPortal" />-->
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00" maxReceivedMessageSize="1000000000">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rafy.Accounts" publicKeyToken="f7937325279b37cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.56.3245.0" newVersion="3.56.3245.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rafy" publicKeyToken="f7937325279b37cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.58.3323.0" newVersion="3.58.3323.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rafy.RBAC.RoleManagement" publicKeyToken="f7937325279b37cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.51.3140.0" newVersion="3.51.3140.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>