<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--如果是监听应用程序所有的 SQL 语句，请打开以下配置-->
    <add key="Rafy.FileLogger.SqlTraceFileName" value="D:\SQLTraceLog.txt" />
    <add key="AutoUpdateDb" value="True" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RafyConsoleApp" connectionString="server=localhost;database=PTRACKER;uid=sa;pwd=123" providerName="System.Data.SqlClient" />-->
    <add name="SysDomain" connectionString="Data Source=.;Initial Catalog=RafyApp;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <!--<add name="RafyPlugins" connectionString="Data Source=.;Initial Catalog=RafyApp;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="DbSettingNames" connectionString="Data Source=.;Initial Catalog=RafyApp;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rafy.Accounts" publicKeyToken="f7937325279b37cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.56.3245.0" newVersion="3.56.3245.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rafy" publicKeyToken="f7937325279b37cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.57.3302.0" newVersion="3.57.3302.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>