<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Rafy.Accounts" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.Domain" version="3.57.3302" targetFramework="net45" />
  <package id="Rafy.RBAC.DataPermissionManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.RBAC.GroupManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.RBAC.RoleManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.RBAC.UserRoleManagement" version="3.56.3245" targetFramework="net45" />
  <package id="Rafy.SerialNumber" version="3.56.3245" targetFramework="net45" />
</packages>